                 <div class="room-item">
                    <h2 class="room-item--title">
                        <a href="channel/<%= chan._id %>"><%= chan.name %></a> <span class="room-item--songs-qty">(<%= chan.playlist.length %> songs)</span>
                        <% if (String(chan.creator._id) === String(current_user._id)) { %>
                            <form  class="room--delete-form" method="post" action="/channel/<%= chan._id %>/destroy">
                                <input type="hidden" name="_csrf" value="<%= csrf_token %>">
                                <input type="hidden" name="_method" value="DELETE">
                                <button class="room--delete-btn" type="submit">delete</button>
                            </form>
                        <% } %>
                    </h2>
                    <span class="room-item--host">Hosted by <span class="room-host"><%= (String(chan.creator._id) === String(current_user._id)) ? 'YOU!' : chan.creator.username %></span></span>
                    <p class="room-item--desc"><%= chan.description %></p>
                    <% if (chan.playlist.length > 0) { %>
                        <ul class="room-item-tracks">
                        <% chan.playlist.forEach( function( item ){ %>
                            <li>
                                <img src="<%= item.video_thumbnails %>" class="video--thumb">
                                <span class="video--title"><%= item.video_title %></span>
                            </li>
                        <% }); %>
                        </ul>
                    <% } else { %>
                        <p class="room-item--no-songs">No songs added yet. 8(</p>
                    <% } %>
                </div>
